body {
	width: 60%;
	margin: auto;
	margin-top: 20px;
	border: 20px solid #cbc8c6;
	padding: 20px;
	font-family: Arvo;
}

.firstPar {
	border-left: 5px solid #cbc8c6;
	padding-left: 5px;
}

.date {
	text-transform: uppercase;
	color: #5ab2ff;
	letter-spacing: 3px;
}

hr {
	border: 1px solid #e2e0df;
}

